<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="0.1.1" targetFramework="net40" />
  <package id="linq2db.SQLite" version="0.1.0" targetFramework="net40" />
  <package id="linq2db.t4models" version="0.1.1" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.88.0" targetFramework="net40" />
</packages>