<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="1.0.4.1" targetFramework="net40" />
  <package id="linq2db.SQLite" version="1.0.6.1" targetFramework="net40" />
  <package id="linq2db.t4models" version="1.0.6.1" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.93.0" targetFramework="net40" />
</packages>