<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebirdSql.Data.FirebirdClient" version="4.6.2.0" targetFramework="net451" />
  <package id="linq2db" version="1.0.7.1" targetFramework="net451" />
  <package id="linq2db.Access" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.DB2" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.Firebird" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.Informix" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.MySql" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.Oracle.managed" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.PostgreSQL" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.SqlCe" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.SQLite" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.SqlServer" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.Sybase" version="1.0.7" targetFramework="net451" />
  <package id="linq2db.t4models" version="1.0.7.1" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.6" targetFramework="net451" />
  <package id="Npgsql" version="2.2.5" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.96.0" targetFramework="net451" />
</packages>