<#@ template language="C#" debug="True" hostSpecific="True"                            #>
<#@ output extension=".generated.cs"                                                   #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\LinqToDB.PostgreSQL.Tools.ttinclude" #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\PluralizationService.ttinclude"      #>
<#
	NamespaceName = "DataModel";

	LoadPostgreSQLMetadata("DBHost", "5432", "TestData", "postgres", "TestPassword");

	GetTable("test_schema.testsamename").TypeName                = "TestSchema_testsameName";
	GetTable("test_schema.testsamename").DataContextPropertyName = "TestSchema_testsameName";

	GenerateModel();
#>
