<#@ template language="C#" debug="True" hostSpecific="True"                          #>
<#@ output extension=".generated.cs"                                                 #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\LinqToDB.Firebird.Tools.ttinclude" #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\PluralizationService.ttinclude"    #>
<#
	NamespaceName = "DataModel";

	LoadFirebirdMetadata("DBHost", @"C:\Data\TestData.fdb");
	GenerateModel();
#>
