<#@ template language="C#" debug="True" hostSpecific="True"                        #>
<#@ output extension=".generated.cs"                                               #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\LinqToDB.Access.Tools.ttinclude" #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\PluralizationService.ttinclude"  #>
<#
	NamespaceName = "DataModel";

	LoadAccessMetadata(Host.ResolvePath(".."), "TestData.mdb");
	GenerateModel();
#>
