<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db" requirePermission="false" />
	</configSections>
	<linq2db defaultConfiguration="Oracle" />

	<connectionStrings>
		<add name="Oracle"
			connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TestData)));User Id=TestUser;Password=TestPassword;"
			providerName="Oracle.DataAccess.Client" />
	</connectionStrings>
</configuration>
