<#@ template language="C#" debug="True" hostSpecific="True"                                #>
<#@ output extension=".generated.cs"                                                       #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\LinqToDB.Oracle.Managed.Tools.ttinclude" #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\PluralizationService.ttinclude"          #>
<#
	NamespaceName = "Managed.DataModels";

	LoadOracleMetadata("DBHost", "1521", "TestData", "TestUser", "TestPassword");

	GenerateModel();
#>
