<#@ template language="C#" debug="True" hostSpecific="True"                        #>
<#@ output extension=".generated.cs"                                               #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\LinqToDB.SQLite.Tools.ttinclude" #>
<#@ include file="$(ProjectDir)LinqToDB.Templates\PluralizationService.ttinclude"  #>
<#
	NamespaceName = "DataModel";

	LoadSQLiteMetadata(Host.ResolvePath(".."), "TestData.sqlite");
	GenerateModel();
#>
